<%= form_for @forum, :html => { :multipart => true, :class => 'create' } do |f| %>
  <fieldset>
  <% if @forum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@forum.errors.count, "erreur") %> empêchent le forum d'être enregistré:</h2>
      <ul>
      <% @forum.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  	<ul>
	<li><%= f.label :title %>
	<%= f.text_field :title %></li>

	<li><%= f.label :post %>
	<%= f.text_area :post %></li>

	<%= f.submit %>
	</ul>
	</fieldset>
<% end %>