<%= form_for @forum, :html => { :multipart => true, :class => 'createForm' } do |f| %>
  <fieldset>
  <% if @forum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@forum.errors.count, "erreur") %> empêchent le forum d'être enregistré:</h2>
      <ul>
      <% @forum.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  	<ul>
	<li><%= f.label :name, :class => "mandatory" %>
	<%= f.text_field :name %></li>
  <% if params[:track_id] %>
    <%= f.hidden_field :forumable_id, :value => params[:track_id] %>
    <%= hidden_field_tag "forum[category_ids][]", 4 %>
    <%= f.hidden_field :forumable_type, :value => "Track" %>
  <% elsif params[:happening_id] %>
    <%= f.hidden_field :forumable_id, :value => @happening.id %>
    <%= hidden_field_tag "forum[category_ids][]", 2 %>
    <%= f.hidden_field :forumable_type, :value => "Happening" %>
  <% else %>
    <li>
      <% Category.all.each do |category| %>
     <div>
       <%= check_box_tag "forum[category_ids][]", category.id, @forum.categories.include?(category) %>
       <%= category.name %>
     </div>
     <% end %>
    </li>
  <% end %>
	<li><%= f.label :post, :class => "mandatory" %>
  <div class="markdown__tuto">
    <h3 role="heading" aria-level="3">Aide pour les posts</h3>
    <ul>
      <li>
        <h4 role="header" aria-level="4">Les titres</h4>
        <p>#Mon titre de niveau 1</p>
        <p>##Mon titre de niveau 2</p>
      </li>
      <li>
        <h4 role="header" aria-level="4">Les paragraphes</h4>
        <p>Deux sauts à la ligne</p>
      </li>
      <li>
        <h4 role="header" aria-level="4">Les listes</h4>
        <p>-(quatre espaces)Mon premier objet de liste <br>
        -(quatre espaces)Mon second objet de liste</p>
      </li>
      <li>
        <h4 role="header" aria-level="4">Les liens</h4>
        <p>[nom du lien](addres du site) ex&nbsp;: [google](http://google.be)</p>
      </li>
      <li>
        <h4 role="header" aria-level="4">Les images</h4>
        <p>![Description de l'image](URL de l'image)</p>
      </li>
    </ul>
  </div>
	<%= f.text_area :post %></li>

	<%= f.submit %>
	</ul>
	</fieldset>
<% end %>