<%= form_for @forum, :html => { :multipart => true, :class => 'createForm' } do |f| %>
  <fieldset>
  <% if @forum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@forum.errors.count, "erreur") %> empêchent le forum d'être enregistré:</h2>
      <ul>
      <% @forum.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  	<ul>
	<li><%= f.label :name %>
	<%= f.text_field :name %></li>
  <% if params[:track_id] %>
    <%= f.hidden_field :forumable_id, :value => params[:track_id] %>
    <%= hidden_field_tag "forum[category_ids][]", 4 %>
    <%= f.hidden_field :forumable_type, :value => "Track" %>
  <% elsif params[:happening_id] %>
    <%= f.hidden_field :forumable_id, :value => @happening.id %>
    <%= hidden_field_tag "forum[category_ids][]", 2 %>
    <%= f.hidden_field :forumable_type, :value => "Happening" %>
  <% else %>
    <li>
      <% Category.all.each do |category| %>
     <div>
       <%= check_box_tag "forum[category_ids][]", category.id, @forum.categories.include?(category) %>
       <%= category.name %>
     </div>
     <% end %>
    </li>
  <% end %>

	<li><%= f.label :post %>
	<%= f.text_area :post %></li>

	<%= f.submit %>
	</ul>
	</fieldset>
<% end %>