<section>
  <div class="container">
    <h2 role="heading" aria-level="2" class="hidden">Content</h2>
    <div class="left_column">
      <h3 role="heading" aria-level="3">Catégories</h3>
      <ul class="cat">
        <% for cat in @categories %>
          <% if @active && @active == cat.id %>
            <li class="active">
          <% else %>
            <li>
          <% end %>
          <%= link_to cat.name, forums_path(params.slice(:sort).merge(category_id: cat.id)) %></li>
        <% end %>
      </ul>
    </div>
    <div class="primary_content">
      <h2 role="heading" aria-level="2">Derniers forums</h2>
      <span><%= link_to "Ajouter nouveau forum", new_forum_path %></span>
      <ul>
      <% @forums.each do |forum| %>
        <li class="forum">
          <article>
            <header>
              <h3 class="formTitle" role="heading" aria-level="3">
                <%= link_to forum.name, forum_path(forum) %>
                <% if user_signed_in? && forum.user_id == current_user.id %>
                | <%= link_to "Edit", edit_forum_path(forum) %>
                | <%= button_to "Delete", forum_path(forum), method: :delete, data: { confirm: 'Are you sure?' }  %>
                <% end %><br>
                <span>
                  Posté par <%= link_to forum.user.username, user_path(forum.user) %>
                  <% if forum.forumable %> 
                    sur <%= link_to forum.forumable.name, forum.forumable %>
                  <% end %>
                </span></h3>
                <ul class="forumDetails">
                  <li><i class="icon-bookmarks"></i><% for category in forum.categories do %>
                    <%= link_to category.name, forums_path(params.slice(:sort).merge(category_id: category.id)) %>
                  <% end %></li>
                  <li><i class="icon-clock-1"></i><%= I18n.l forum.created_at %></li>
                  <li>
                    <i class="icon-chat"></i>
                    <%= forum.comments.count %> 
                    <% if forum.comments.count <= 1 %>
                      réponse
                    <% else %>
                      réponses
                    <% end %>

                  </li>
                  <li><i class="icon-heart"></i><%= forum.favorites.count %></li>
                </ul>
            </header>
          </article>
        </li>
      <% end %>
      </ul>
    </div>
  </div>
</section>
