<% content_for :title do %>
  Forum «<%= @forum.name %>» | Sportfun
<% end %>
<section>
  <div class="container" role="main">
    <div class="forum__post">
      <%= render "layouts/navigations/forumNavigation" %>
      <h2 role="heading" aria-level="2" class="hidden">Forum <%= @forum.name %></h2>
      <article>
        <div class="entity__title forum">
          <ul class="forum__details">
            <li><em class="icon-bookmarks"></em><% for category in @forum.categories do %>
              <%= link_to category.name, forums_path(params.slice(:sort).merge(category_id: category.id)) %>
            <% end %></li>
            <li><em class="icon-clock-1"></em><%= I18n.l @forum.created_at %></li>
            <li>
              <em class="icon-chat"></em>
              <%= @forum.comments.count %> 
              <% if @forum.comments.count <= 1 %>
                réponse
              <% else %>
                réponses
              <% end %>
            </li>
          </ul>
          <%= image_tag @forum.user.avatar.url(:thumb) %>
          <h2 role="heading" aria-level="2">
            <%= @forum.name %>
            <span>Posté par: <%= link_to @forum.user.username, @forum.user %></span>
            <% if @forum.forumable %> 
              <span>sur <%= link_to @forum.forumable.name, @forum.forumable %></span>
            <% end %>
          </h2>
        </div>
        <div class="markdown">
          <%= markdown(@forum.post) %>
        </div>
      </article>
      <div class="forum__comments">
        <h3 role="heading" aria-level="3">Commentaires</h3>
        <% if @forum.comments.count > 0 %>
          <ul>
            <%= render @forum.comments %>
          </ul>
        <% else %>
          <p class="results__none">Pas de commentaire...</p>
        <% end %>
        <% if  user_signed_in? %>
          <h3 role="heading" aria-level="3">Répondre</h3>
          <div class="comment__form">
            <%= image_tag current_user.avatar.url(:thumb), :class=>'avatar' %>
            <h4 role="heading" aria-level="4"><%= current_user.username %></h4>
            <%= render "comments/form" %>
          </div>
        <% else %>
          <p class="results__none">Vous devez être connecté pour participer à la discussion.</p>
        <% end %>
      </div>
    </div>
    <div class="forum__add">
      <h3 role="heading" aria-level="3">Les posts intéressants</h3>
      <ul>
        <% @others.each do |add| %>
          <li class="forum forums__index">
            <article>
              <header>
                <h3 class="forum__title" role="heading" aria-level="3">
                  <%= link_to add.name, forum_path(add) %>
                  <% if user_signed_in? && add.user_id == current_user.id %>
                  | <%= link_to "Modifier", edit_forum_path(add) %>
                  | <%= button_to "Supprimer", forum_path(add), method: :delete, data: { confirm: 'Etes vous certain de vouloir supprimer ce forum?' }  %>
                  <% end %><br>
                  <span>
                    Posté par <%= link_to add.user.username, user_path(add.user) %>
                    <% if add.forumable %> 
                      sur <%= link_to add.forumable.name, add.forumable %>
                    <% end %>
                  </span></h3>
                  <ul class="forums__details">
                    <li><em class="icon-bookmarks"></em><% for category in add.categories do %>
                      <%= link_to category.name, forums_path(params.slice(:sort).merge(category_id: category.id)) %>
                    <% end %></li>
                  </ul>
              </header>
            </article>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</section>