<section>
	<div class="container">
		<div class="events">
		<article class="comment">
			<div class="comment__header">
				<ul class="share">
					<li><a href="#"><i class="icon-heart-empty"></i> (89)</a></li>
					<li class="shareButton"><i class="shareDart">&rarr;</i>&nbsp;Share
						<ul class="shareForum">
    					<li><a href="http://www.facebook.com/share.php?u=<%= request.original_url %>" target="blank" rel="nofollow"><i class="icon-facebook-squared"></i></a></li>
                <li><a href="https://plus.google.com/share?url=<%= request.original_url %>" target="blank" rel="nofollow"><i class="icon-gplus-squared"></i></a></li>
                <li><a href="http://twitter.com/home?status=<%= request.original_url %>" target="blank" rel="nofollow"><i class="icon-twitter-squared"></i></a></li>
                <li><a href="mailto:?subject=Article sur Sportfun&amp;body=Article intéressant <%= @forum.title %> : <%= request.original_url %>" rel="nofollow"><i class="icon-mail"></i></a></li>
                <li><a href="#"><i class="icon-rss"></i></a></li>
  					</ul>
  				</li>
				</ul>
			</div>
			<div class="comment__body">
			<header>
        <h3 class="formTitle" role="heading" aria-level="3">
        	<%= link_to @forum.title, forum_path(@forum) %>
					<% if  user_signed_in? && @forum.user_id == current_user.id %>
					| <%= link_to "Edit", edit_forum_path(@forum) %>
					| <%= button_to "Delete", @forum, :method => 'DELETE' %>
					<% end %><br><span>Posté par <%= link_to @forum.user.username, user_path(@forum.user) %></span></h3>
          <ul class="forumDetails">
              <li><i class="icon-clock-1"></i><%= @forum.created_at %></li>
              <li><i class="icon-bookmarks"></i>Entrainements</li>
              <li><i class="icon-chat"></i><%= @forum.comments.count %> réponses</li>
          </ul>
      </header>
			<p><%= @forum.post %></p>
			</div>
		</article>
		<ul>
			<%= render @forum.comments %>
		</ul>
				<h2>Répondre</h2>
			<% if  user_signed_in? %>
				<%= render "comments/form" %>
			<% else %>
				<p>Vous devez être connecté pour participer à la discussion.</p>
			<% end %>
		</div>
	</div>
</section>