<%= form_for @track, :html => { :multipart => true, :class => 'createForm' } do |f| %>
  <% if @track.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@track.errors.count, "erreur") %> empêchent le tracé d'être enregistré:</h2>

      <ul>
      <% @track.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
  <ul>
    <li><%= f.label :name %>
  <%= f.text_field :name %></li>
  <li><%= f.hidden_field :location %></li>
  <li><%= f.hidden_field :distance %></li>
  <li><%= f.hidden_field :longitude %></li>
  <li><%= f.hidden_field :latitude %></li>
  <li id="jsRoute"><%= f.hidden_field :polyline %></li>
  <li id="upRoute"><%= f.label :route %>
  <%= f.file_field :route %></li>
  </ul>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
