<%= form_for @track, :html => { :multipart => true, :class => 'createForm' } do |f| %>
  <% if @track.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@track.errors.count, "erreur") %> empêchent le tracé d'être enregistré:</h2>

      <ul>
      <% @track.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset>
  <ul>
    <% if params[:happening_id] %>
      <%= f.hidden_field :happening_id , :value => params[:happening_id] %>
    <% end %>
    <% if params[:group_id] %>
      <%= f.hidden_field :group_id , :value => params[:group_id] %>
    <% end %>


    <li id="upRoute"><%= f.label :route, :class => "hidden" %>
    <%= f.file_field :route %></li>
    <li><%= f.label :name, :class => "hidden" %>
    <%= f.text_field :name, :placeHolder => "Nom du tracé..." %></li>
    <li><%= f.label :description, :class => "hidden" %>
    <%= f.text_area :description, :placeHolder => "Description du tracé...", :rows => "6" %></li>
    <%= f.hidden_field :location %>
    <%= f.hidden_field :length %>
    <%= f.hidden_field :longitude %>
    <%= f.hidden_field :latitude %>
    <%= f.hidden_field :polyline, :id => "jsRoute" %>
    <li><%= f.submit %></li>
  </ul>
  </fieldset>
<% end %>
