<ul>
<% @tracks.each do |track| %>
  <li class="entity__result" id="<%= track.slug %>">
    <ul class="result__list">
      <li class="result__distances"><span id="length"><%= track.length %></span>km</li>
      <li class="result__name">
        <h4 role="heading" aria-level="4">
          <%= link_to track.name, track_path(track) %>
          <% if user_signed_in? && track.user == current_user %>
          | <%= button_to "Delete", track_path(track), method: :delete, data: { confirm: 'Are you sure?' }  %>
          <% end %>
        </h4>
      </li>
      <li class="result__happening"><%= track.favorites.count %> <i class="icon-heart"></i></li>
      <% if track.happening %>
        <li class="result__happening"><%= link_to track.happening.name, track.happening %></li>
      <% end %>
      <% if params[:user_id].blank? %>
        <li class="result__distances"><%= track.distance.to_s.gsub(/^(\d+.)(\d{0,2})(\d+)/, '\1\2') %>km</li>
      <% end %>
    </ul>
  </li>
<% end %>
</ul>

<% content_for :script do %>
  <% if @tracksJs %>
    <%= javascript_tag do %>
      var js_tracks = <%= raw(@tracksJs.to_json) %>;
    <% end %>
  <% end %>
  <%= location_to_js(@location) if @location %>
<% end %>