<% content_for :title do %>
  Tous les tracés | Sportfun
<% end %>
<section>
  <div class="container" role="main">
    <h2 role="heading" aria-level="2" class="hidden">Content</h2>
    <% if params[:user_id] %>
      <%= render "layouts/navigations/userNavigation" %>
    <% else %>
      <%= render "layouts/navigations/searchNavigation" %>
    <% end %>
    <div class="entity__title">
      <% if params[:user_id] %>
        <h2 role="heading" aria-level="2">Tracés créés par <%= @user.username %></h2>
      <% else %>
        <h2 role="heading" aria-level="2">Tracés</h2>
      <% end %>
      <%= link_to "Ajouter un tracé", new_track_path %>
    </div>
    <div class="entity__searchform">
      <%= form_tag(tracks_path, :method => "get", id: "search-form") do %>
        <fieldset>
          <ul>
            <li><%= label_tag :search, "Adresse" %>
            <%= text_field_tag :search, params[:search], placeholder: "ex: Liège, Belgique" %></li>
            <li class="radiusRange">
              <%= label_tag :radius, "Rayon" %>
              <input type="range" name="radius" id="radius" min="1" max="50" value="20"><output for="radius" id="actuRadius">20</output><span>km</span></li>
            <li><%= submit_tag "Rechercher", :name => nil %></li>
          </ul>
        </fieldset>
      <% end %>
    </div>
    <div class="entity__results">
      <div class="map">
        <% if params[:user_id].blank? %>
          <div id="map_canvas"></div>
        <% end %>
        <div id="aside">
          <div id="tracks">
            <%= render 'tracks' %>
          </div>
          <div id="elevation_chart"></div>
        </div>
      </div>
    </div>
  </div>
</section>