
<p>
  <strong>Name:</strong>
  <%= @track.name %>
  <%= link_to @track.user.username, member_path(@track.user) %>
  <table>
	</table>
  <dl class="dl-horizontal">
    <dd><%= @track.name %></dd>
  </dl>
</p>

<div id="map_canvas"></div>

<%= link_to 'Edit', edit_track_path(@track) %> |
<%= link_to 'Back', tracks_path %>

<% content_for :script do %>
	<%= google_maps_api %>
	<%= track_id_to_js(@track.id) if @track %>
<% end %>
