<% content_for :title do %>
  Tracé «<%= @track.name %>» | Sportfun
<% end %>
<section>
    <h2 role="heading" aria-level="2" class="hidden">Content</h2>
    <div class="container entity__title happening track">
      <%= render "layouts/navigations/trackNavigation" %>
      <h2 role="heading" aria-level="2">
        Tracé <%= @track.name %>
        <span>Posté par: <%= link_to @track.user.username, @track.user %></span><br>
        <% if @track.happening %>
          <span>
            Sur l'évènement <%= link_to @track.happening.name, @track.happening %>
          </span>
        <% end %>
      </h2>
    </div>
    <div class=" container entity__map">
      <h3 class="secondary__title" role="heading" aria-level="3">
        Informations
      </h3>
      <div class="entity__tracks">
        <div class="entity__informations">
          <ul>
            <li><em class="icon-direction"></em> <%= @track.length %>km</li>
            <li><em class="icon-location"></em> <%= @track.location %></li>
            <li><em class="icon-clock"></em> Posté <%= I18n.l @track.created_at %></li>
            <% if @track.group %>
              <li>Posté sur le groupe <%= link_to @track.group.name, @track.group %></li>
            <% end %>
            <li>
              <span><em class="icon-vcard"></em> Description</span>
              <%= @track.description %>
            </li>
            <li>
              <span><em class="icon-chart-line"></em> Élévation</span>
            </li>
          </ul>
          <div id="elevation_chart"></div>
        </div>
      </div>
      <div id="map_canvas"></div>
    </div>
    <div class="container table">
      <div class="entity__data">
        <div class="entity__forums">
          <h3 class="secondary__title" role="heading" arie-level="3">
            <%= link_to new_track_forum_path(@track), :class=> "type add" do %>
              <em class="icon-pencil"></em> Poster forum
            <% end %>
            Forums
          </h3>
          <% if @track.forums.count == 0 %>
            <p class="results__none">Pas de forums.</p>
          <% else %>
            <ul>
              <% @track.forums.each do |forum| %>
                <li class="forum">
                <article>
                <header>
                  <h4 class="formTitle" role="heading" aria-level="4">
                    <%= link_to forum.name, forum_path(forum) %><br>
                    <span>
                      Posté par <%= link_to forum.user.username, user_path(forum.user) %>
                    </span></h4>
                    <ul class="forumDetails">
                      <li><em class="icon-clock-1"></em><%= I18n.l forum.created_at %></li>
                      <li><em class="icon-chat"></em><%= forum.comments.count %></li>
                    </ul>
                </header>
                </article>
                </li>
              <% end %>
            </ul>
          <% end %>
        </div>
        <div class="entity__gallery">
          <h3 class="secondary__title" role="heading" aria-level="3">
            <% if current_user == @track.user %>
              <span id="showImageForm" class="type add"><em class="icon-picture"></em> Ajouter une image</span>
            <% end %>
            Photos
          </h3>
          <% if current_user == @track.user %>
          <div class="entity__addimageform">
            <%= form_for ([@track, Image.new]), :html => { :multipart => true, :id => 'addImage' } do |f| %>
              <%= f.hidden_field :user_id, :value => current_user.id %>
              <%= f.hidden_field :imagable_id, :value => @track.id %>
              <%= f.hidden_field :imagable_type, :value => "Track" %>
              <ul>
                <li><%= f.label :image %><%= f.file_field :image %></li>
                <li><%= f.submit :Ajouter %></li>
              </ul>
            <% end %>
          </div>
          <% end %>
          <% if @track.images.count > 0 %>
            <ul id="many" class="thumbs">
              <% @track.images.each do |image| %>
                <li>
                  <a href="<%= image.image.url(:medium) %>" class="thumbnail">
                    <%= image_tag image.image.url(:thumb) %>
                  </a>
                  <% if user_signed_in? && current_user == @track.user %>
                    <%= button_to [@track, image], method: :delete, data: { confirm: 'Are you sure?' }, form_class: "delete_image" do %>
                      <span data-tooltip="Supprimer la photo">
                        <em class="icon-cancel"></em>
                      </span>
                    <% end %>
                  <% end %>
                </li>
              <% end %>
            </ul>
          <% else %>
            <p class="results__none">Pas de photos.</p>
          <% end %>
        </div>
      </div>
    </div>
<% content_for :script do %>
  <%= javascript_tag do %>
    var js_track_id = "<%=j @track.slug.to_s.html_safe %>";
  <% end %>
<% end %>
</section>
