<nav role="navigation" class="secondary__navigation entity">
  <h2 role="heading" aria-level="2" class="hidden">Navigation Secondaire</h2>
  <ul>
    <li>
      <%= link_to download_track_path(@track), :title => 'Télécharger le tracé' do %>
        <i class="icon-download"></i> Télécharger
      <% end %>
    </li>
    <% if user_signed_in? %>
      <li>
        <% if current_user.favorites.where(favoritable_id: @track.id, favoritable_type: "Track").first %>
          <%= button_to [@track, current_user.favorites.where(favoritable_id: @track.id, favoritable_type: "Track").first], method: :delete do %>
            Supprimer des favorits
          <% end %>
        <% else %>
          <%= form_for ([@track, Favorite.new]), :html => {:class => 'button_to' } do |f| %>
            <%= f.hidden_field :user_id, :value => current_user.id %>
            <%= f.hidden_field :favoritable_id, :value => @track.id %>
            <%= f.hidden_field :favoritable_type, :value => "Track" %>
            <%= button_tag do %>
              Ajouter aux favorits
            <% end %>
          <% end %>
        <% end %>
      </li>
    <% end %>
    <li class="item__relations">
      <%= link_to track_favorites_path(@track), :title => 'Afficher les utilisateurs qui aiment cette évènement' do %>
        <%= @track.favorites.count.to_s %> <span class="hidden">Favoris</span><i class="icon-star"></i>
      <% end %>
    </li>
    <% if user_signed_in? && current_user == @track.user %>
      <li>
        <%= button_to track_path(@track), method: :delete, data: { confirm: 'Are you sure?' } do %>
          <i class="icon-trash"></i> Supprimer
        <% end %>
      </li>
    <% end %>
    <li class="social">
      <div class="share__button">
        <i class="icon-share"></i>
        <span class="hidden">Partager</span>
      </div>
      <ul>
        <li>
          <a title="Partager sur Facebook" class="fb__button" href="http://www.facebook.com/share.php?u=<%= request.original_url %>" target="blank" rel="nofollow">
            <i class="icon-facebook-squared"></i><span class="hidden">Partager sur Facebook</span>
          </a>
        </li>
        <li>
          <a title="Partager sur Google plus" class="gg__button" href="https://plus.google.com/share?url=<%= request.original_url %>" target="blank" rel="nofollow">
            <i class="icon-gplus-squared"></i><span class="hidden">Partager sur Google +</span>
          </a>
        </li>
        <li>
          <a title="Partager sur Twitter" class="tw__button" href="http://twitter.com/home?status=<%= request.original_url %>" target="blank" rel="nofollow">
            <i class="icon-twitter-squared"></i><span class="hidden">Partager sur Twitter</span>
          </a>
        </li>
        <li>
          <a title="Partager par mail" class="mail__button" href="mailto:?subject=Course intéressante sur Sportfun&amp;body=Course intéressante <%= @track.name %> : <%= request.original_url %>" rel="nofollow">
            <i class="icon-mail"></i><span class="hidden">Partager par mail</span>
          </a>
        </li>
      </ul>
    </li>
  </ul>
</nav>