<nav data-step="6" data-intro="Vous avez accès aux tracés et évènements, retrouvez ceux que vous avez créé, et créé en de nouveaux!" role="navigation" class="secondary__navigation">
  <h2 role="heading" aria-level="2" class="hidden">Navigation Secondaire</h2>
  <button id="toggle_actions_bar">Actions <em class="icon-down-open-big"></em></button>
  <ul id="actions__menu">
    <% if user_signed_in? && @user.id == current_user.id %>
      <li><%= link_to "Mes activités", user_path(@user), class: (controller?("users") && action?("show") ? 'actif' : nil) %></li>
      <li><%= link_to "Mes évènements", user_happenings_path(@user), class: (controller?("happenings") && action?("index") ? 'actif' : nil) %></li>
      <li><%= link_to "Mes tracés", user_tracks_path(@user), class: (controller?("tracks") && action?("index") ? 'actif' : nil) %></li>
      <li><%= link_to "Mes groupes", user_groups_path(@user), class: (controller?("groups") && action?("index") ? 'actif' : nil) %></li>
      <li><%= link_to "Mes favoris", user_favorites_path(@user), class: (controller?("favorites") && action?("index") ? 'actif' : nil) %></li>
      <li>
        <%= button_to destroy_user_session_path, :method => :delete do %>
          Déconnexion
        <% end %>
      </li>
    <% else %>
      <li><%= link_to "Profil #{@user.username}", user_path(@user), class: (controller?("users") && action?("show") ? 'actif' : nil) %></li>
      <li><%= link_to "Évènements", user_happenings_path(@user), class: (controller?("happenings") && action?("index") ? 'actif' : nil) %></li>
      <li><%= link_to "Tracés", user_tracks_path(@user), class: (controller?("tracks") && action?("index") ? 'actif' : nil) %></li>
      <li><%= link_to "Groupes", user_groups_path(@user), class: (controller?("groups") && action?("index") ? 'actif' : nil) %></li>
      <li><%= link_to "Favoris", user_favorites_path(@user), class: (controller?("favorites") && action?("index") ? 'actif' : nil) %></li>
    <% end %>
  </ul>
</nav>