<%= form_for @happening, :html => { :multipart => true, :class => 'createForm' } do |f| %>
  <% if @happening.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@happening.errors.count, "erreur") %> empêchent l'évènement d'être enregistré:</h2>
      <ul>
      <% @happening.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset>
	  	<ul>
		<li><%= f.label :name %>
		<%= f.text_field :name %></li>

		<li><%= f.label :description %>
		<%= f.text_area :description %></li>

		<li><%= f.label :address %>
		<%= f.text_field :address %></li>

		<li><%= f.label :city %>
		<%= f.text_field :city %></li>

		<li><%= f.label :postalCode %>
		<%= f.text_field :postalCode %></li>

		<li><%= f.label :country %>
		<%= f.text_field :country %></li>

		<li><%= f.label :link %>
		<%= f.text_field :link %></li>

		<li><%= f.label :date %>
		<%= f.datetime_field :date %></li>

		<%= f.submit %>
		</ul>
		</fieldset>
<% end %>