<%= form_for @happening, :html => { :multipart => true, :class => 'createForm' } do |f| %>
  <% if @happening.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@happening.errors.count, "erreur") %> empêchent l'évènement d'être enregistré:</h2>
      <ul>
      <% @happening.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset>
	  	<ul>
		<li><%= f.label :name %>
		<%= f.text_field :name %></li>

		<li><%= f.label :event_type %>
			<%= f.select(:event_type_id, EventType.all.collect {|a| [a.name, a.id]}) %></li>

		<li><%= f.label :description %>
		<%= f.text_area :description %></li>

		<li><%= f.label :address %>
		<%= f.text_field :address %></li>

		<li><%= f.label :link %>
		<%= f.text_field :link %></li>

		<li><%= f.label :date %>
		<%= f.date_field :date %></li>

		<%= f.submit %>
		</ul>
		</fieldset>
<% end %>