<%= form_for @happening, :html => { :multipart => true, :class => 'createForm' } do |f| %>
  <% if @happening.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@happening.errors.count, "erreur") %> empêchent l'évènement d'être enregistré:</h2>
      <ul>
      <% @happening.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset>
    <% if params[:group_id] %>
      <%= f.hidden_field :group_id , :value => params[:group_id] %>
    <% end %>
    
      <ul>
    <li><%= f.label :name, :class => "mandatory" %>
    <%= f.text_field :name %></li>

    <li><%= f.label :event_type, :class => "mandatory" %>
      <%= f.select(:event_type_id, EventType.all.collect {|a| [a.name, a.id]}) %></li>

    <li><%= f.label :description, :class => "mandatory" %>
    <%= f.text_area :description %></li>

    <li><%= f.label :address, :class => "mandatory" %>
    <%= f.text_field :address %></li>

    <li><%= f.label :link %>
    <%= f.text_field :link %></li>

    <li><%= f.label :date, :class => "mandatory" %>
    <%= f.date_field :date, :placeholder => "jj/mm/aaaa" %></li>

    <%= f.submit %>
    </ul>
    </fieldset>
<% end %>