<% content_for :title do %>
  Tous les évènements | Sportfun
<% end %>
<section>
  <div class="container" role="main">
    <h2 role="heading" aria-level="2" class="hidden">Content</h2>
    <% if params[:user_id] %>
      <%= render "layouts/navigations/userNavigation" %>
    <% else %>
      <%= render "layouts/navigations/searchNavigation" %>
    <% end %>
    <div class="entity__title">
      <% if params[:user_id] %>
        <h2 role="heading" aria-level="2">Évènements créés par <%= @user.username %></h2>
      <% else %>
        <h2 role="heading" aria-level="2">Évènements</h2>
      <% end %>
      <%= link_to "Ajouter un évènement", new_happening_path %>
    </div>
    <div class="entity__searchform">
      <%= form_tag(happenings_path, :method => "get", id: "search-form") do %>
        <fieldset>
          <ul>
          <li>
            <%= label_tag :date, "Date" %>
            <%= date_field_tag :date, params[:date] %>
          </li>
          <li>
            <%= label_tag :location, "Lieu" %>
            <%= text_field_tag  :location, params[:location] %>
          </li>
          <li>
            <% @event_types.each do |type| %>
              <%= radio_button_tag :event_type, type.id %>
              <%= label_tag :event_type, type.name, :value => type.id %>
            <% end %>
          </li>
          <!-- <li>
            <label>Adresse</label>
            <input type="text">
          </li> -->
          <!-- <li class="distances">
            <label>Distances</label>
            <label>5km</label>
            <input type="checkbox">
            <label>10km</label>
            <input type="checkbox">
            <label>20km</label>
            <input type="checkbox">
            <label>40km</label>
            <input type="checkbox">
            <label>toutes</label>
            <input type="checkbox">
          </li> -->
          <li>
            <%= submit_tag "Rechercher", :name => nil %>
          </li>
          </ul>
        </fieldset>
      <% end %>
    </div>
    <div class="entity__results">
      <% if @happenings.count != 0 %>
        <ul>
          <% @happenings.each do |happening| %>
            <li class="entity__result">
              <ul class="result__list">
               <li class="result__date"><span class="result__day"><%= happening.date.strftime("%d") %></span> <span class="result__monthName"><%= l(happening.date , :format => "%b") %></span></li>
              <li class="result__name">
                <h4 role="heading" aria-level="4">
                  <%= link_to happening.event_type.name, happenings_path(params.slice(:sort).merge(event_type: happening.event_type.id)), :class => "type #{happening.event_type.name}" %>
                  <%= link_to happening.name, happening_path(happening) %>
                  <% if user_signed_in? && happening.user == current_user %>
                  | <%= link_to "Modifier", edit_happening_path(happening) %>
                  | <%= button_to "Supprimer", happening_path(happening), method: :delete, data: { confirm: 'Are you sure?' }  %>
                  <% end %>
                </h4>
              </li>
                <li class="result__distances">
                  <% happening.tracks.each do |track| %>
                    <%= track.length %> km
                  <% end %>
                </li>
              </ul>
            </li>
          <% end %>
        </ul>
      <% else %>
        <p class="results__none">Pas d'évènements</p>
      <% end %>
    </div>
  </div>
</section>
