<section>
  <div class="container">
    <h2 role="heading" aria-level="2" class="hidden">Content</h2>
    <h2 class="raceTitle"><span>Liège | <%= @happening.date %></span><%= @happening.name %></h2>
    <div class="head">
      <div class="visuels">
        <div class="map">
					<div id="map_canvas"></div>
        	<div id="elevation_chart"></div>
        </div>
        <div class="aside">
          <div class="users">
            <h3 role="heading" aria-level="3">Participer</h3>
            <!-- <p><%= @happening.users.count %> <%= link_to 'utilisateurs y participent', happening_user_statuses_path(@happening) %></p> -->
          </div>
          <ul class="share">
            <li>
            <% if @happening.user_statuses.include? current_user %>
              <%= form_for ([@happening, @happening.user_statuses.build]) do |f| %>
                <%= f.submit %>
              <% end %>
            <% else %>
              
            <% end %>
            <!-- <i class="icon-check"></i>Participer -->
            </li>
            <!-- <li>
              <%= link_to(new_happening_user_path(@happening)) do %>
                <i class="icon-user-add"></i>Inviter amis
              <% end %>
            </li> -->
            <% if (@happening.tracks.count==0) && user_signed_in? && @happening.user_id == current_user.id %>
            <li>
              <%= link_to(new_happening_track_path(@happening)) do %>
                <i class="icon-location"></i>Ajouter un parcours
              <% end %>
            </li>
            <% end %>
            <li><%= @happening.favorites.count %>
              <%= form_for ([@happening, Favorite.new]) do |f| %>
                <%= f.hidden_field :user_id, :value => current_user.id %>
                <%= f.hidden_field :favoritable_id, :value => @happening.id %>
                <%= f.hidden_field :favoritable_type, :value => "happening" %>
                <p><%= f.submit %></p>
              <% end %>

            </li>
            <li class="shareButton">
            <% if current_user.favorites.where(favoritable_id: @happening.id, favoritable_type: "Happening").first %>
              <%= button_to [@happening, current_user.favorites.where(favoritable_id: @happening.id, favoritable_type: "Happening").first], method: :delete do %>
                <span data-tooltip="Supprimer des favorits">
                  <i class="icon-heart"></i>
                </span>
              <% end %>
            <% else %>
              <%= form_for ([@happening, Favorite.new]), :html => {:class => 'button_to' } do |f| %>
                <%= f.hidden_field :user_id, :value => current_user.id %>
                <%= f.hidden_field :favoritable_id, :value => @happening.id %>
                <%= f.hidden_field :favoritable_type, :value => "Happening" %>
                <%= button_tag do %>
                  <span data-tooltip="Ajouter aux favorits">
                    <i class="icon-heart-empty"></i>
                  </span>
                <% end %>
              <% end %>
            <% end %>
            <%= link_to "( "+@happening.favorites.count.to_s+" )", happening_favorites_path(@happening) %>
          </li>
          <li class="shareButton"><p>Partager</p>
            <ul class="shareForum">
                <li><a href="http://www.facebook.com/share.php?u=<%= request.original_url %>" target="blank" rel="nofollow"><i class="icon-facebook-squared"></i></a></li>
                <li><a href="https://plus.google.com/share?url=<%= request.original_url %>" target="blank" rel="nofollow"><i class="icon-gplus-squared"></i></a></li>
                <li><a href="http://twitter.com/home?status=<%= request.original_url %>" target="blank" rel="nofollow"><i class="icon-twitter-squared"></i></a></li>
                <li><a href="mailto:?subject=Course intéressante sur Sportfun&amp;body=Course intéressante <%= @happening.name %> : <%= request.original_url %>" rel="nofollow"><i class="icon-mail"></i></a></li>
                <li><a href="#"><i class="icon-rss"></i></a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="raceDetails">
      <div class="informations">
        <h3 role="heading" aria-level="3">Informations</h3>
        <ul>
          <li>Description : <%= @happening.description %></li>
          <li>Adresse : <%= @happening.address %>, <%= @happening.postalCode %> <%= @happening.city %></li>
          <li>Pays : <%= @happening.country %></li>
          <li>lien : <a href"<%= @happening.link %>"><%= @happening.link %></a></li>
        </ul>
        <ul>
          <% for user in @happening.users %>
            <li><%= link_to user.username, member_path(user) %></li>
          <% end %>
        </ul>
      </div>
      <div class="gallery">
        <h3 role="heading" aria-level="3">Gallerie photo</h3>
        <ul class="thumbs">
          <li></li>
        </ul>
      </div>
    </div>
    <div class="sponsors">
      <h3 role="heading" aria-level="3">Sponsors</h3>
      <ul class="thumbs">
        <li></li>
      </ul>
    </div>
  </div>
</section>
<% content_for :script do %>
  <%= google_maps_api %>
  <% for track in @happening.tracks %>
    <%= track_id_to_js(track.id) if track %>
  <% end %>
<% end %>