<%= form_for @group, :html => { :multipart => true, :class => 'createForm' } do |f| %>
  <fieldset>
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group.errors.count, "erreur") %> empêchent le groupe d'être enregistré:</h2>
      <ul>
      <% @group.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  	<ul>
	<li><%= f.label :name, :class => "mandatory" %>
	<%= f.text_field :name %></li>

	<li><%= f.label :description, :class => "mandatory" %>
	<%= f.text_area :description %></li>

  <li><%= f.label :address, :class => "mandatory" %>
  <p>Soyez le plus précis possible. (ex: Liège, Belgique)</p>
  <%= f.text_field :address, :placeholder => "Liège, Belgique" %></li>

	<li><%= f.label :avatar, :class => "mandatory" %>
	<%= f.file_field :avatar %></li>

	<%= f.submit %>
	</ul>
	</fieldset>
<% end %>