<% content_for :title do %>
  Tous les groupes | Sportfun
<% end %>
<section>
  <div class="container" role="main">
    <h2 role="heading" aria-level="2" class="hidden">Content</h2>
    <% if params[:user_id] %>
      <%= render "layouts/navigations/userNavigation" %>
    <% else %>
      <%= render "layouts/navigations/searchNavigation" %>
    <% end %>
    <div class="entity__title">
      <% if params[:user_id] %>
        <h2 role="heading" aria-level="2">Groupes créés par <%= @user.username %></h2>
      <% else %>
        <h2 role="heading" aria-level="2">Groupes</h2>
      <% end %>
      <%= link_to "Ajouter un groupe", new_group_path %>
    </div>
    <div class="entity__searchform">
      <%= form_tag(groups_path, :method => "get", id: "search-form") do %>
        <fieldset>
          <ul>
          <li>
            <%= label_tag :name, "Nom" %>
            <%= text_field_tag  :name, params[:name] %>
          </li>
          <li>
            <%= submit_tag "Rechercher", :name => nil %>
          </li>
          </ul>
        </fieldset>
      <% end %>
    </div>
    <div class="entity__results">
      <% if @groups.count != 0 %>
        <ul>
          <% @groups.each do |group| %>
            <li class="entity__result">
              <ul class="result__list">
                <li class="result__avatar"><%= image_tag group.avatar.url(:thumb) %></li>
                <li>
                  <h3 role="heading" aria-level="3">
                    <%= link_to group.name, group_path(group) %>
                    <% if user_signed_in? &&  group.owner.id == current_user.id %>
                    | <%= link_to "Edit", edit_group_path(group) %>
                    | <%= link_to "Delete", group, :method => 'delete' %>
                    <% end %>
                  </h3>
                </li>
                <li>
                  <span>
                    <%= group.users.count %>
                    <% if group.users.count <= 1 %>
                      membre
                    <% else %>
                      membres
                    <% end %>
                  </span>
                </li>
              </ul>
            </li>
          <% end %>
        </ul>
      <% else %>
        <p class="results__none">Pas de groupes</p>
      <% end %>
    </div>
  </div>
</section>