<% content_for :title do %>
  <%= @group.name %> | Sportfun
<% end %>
<section>
  <div class="container">
    <h2 role="heading" aria-level="2" class="hidden">Content</h2>
    <div class="left_column">
      <%= render 'groupNav' %>
    </div>
    <div class="primary_content">
      <%= link_to "Ajouter activité", new_group_happening_path(@group) %>
      <h2 role="heading" aria-level="2">Activités du groupe</h2>
      <div class="calendar__header">
        <h3 role="heading" aria-level="3">
          <span class="previous__month"><%= link_to "#{'< '+l(@date - 1.month, :format => "%B")}", group_path(@group, date: @date - 1.month) %></span>
          <%= "#{l(@date, :format => "%B")} #{@date.year}" %>
          <span class="next__month"><%= link_to "#{l(@date + 1.month, :format => "%B")+' >'}", group_path(@group, date: @date + 1.month) %></span>
        </h3>
      </div>
      <div>
        <%= calendar @date do |date| %>
          <%= date.day  %>
          <% if @events_by_date[date] %>
            <ul class="calendar__events">
              <% @events_by_date[date].each do |event| %>
                <li><%= link_to event.name, event %></li>
              <% end %>
            </ul>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</section>