<% content_for :title do %>
  Groupe «<%= @group.name %>» | Sportfun
<% end %>
<section>
  <div class="container">
    <h2 role="heading" aria-level="2" class="hidden">Content</h2>
    <div class="entity__title user">
      <%= image_tag @group.avatar.url(:thumb) %>
      <h2 role="heading" aria-level="2">
        Groupe «<%= @group.name %>»
      </h2>
      <% if user_signed_in? &&  !@groupers.collect(&:user_id).include?(current_user.id) %>
        <%= form_for ([@group, Grouper.new]), :html => {:class => 'send__request' } do |f| %>
          <%= f.hidden_field :user_id, :value => current_user.id %>
          <%= f.hidden_field :group_id, :value => @group.id %>
          <%= button_tag do %>
            Faire partie du groupe
          <% end %>
        <% end %>
      <% end %>
      <p>Céé par <%= link_to @group.owner.username, @group.owner %></p>
      <p><%= @group.address %></p>
      <p><%= @group.description %></p>
      <% if user_signed_in? &&  current_user.id == @group.owner.id %>
        <%= link_to "Paramètres", edit_group_path %>
      <% end %>
    </div>
    <div class="table">
      <div class="entity__data">
        <div class="entity__activity">
          <h3 role="heading" aria-level="3">Activités du groupe</h3>
          <ul class="activity__timeline">
            <% if !user_signed_in? && @group.happenings.count < 1 %>
              <li>
                <div class="activity__relative">
                  <span class="activity__date"><%= l(Date.today , :format => "%d %b %Y") %></span>
                  <span class="activity__circle"></span>
                </div>
                <div class="activity__content">
                  <h3>Pas d'activités</h3>
                    <p>Cet groupe n'a pas d'activités</p>
                </div>
              </li>
            <% end %>
            <% if @group.happenings.count >= 1 && user_signed_in? &&  current_user.id == @group.owner.id %>
              <li>
                <div class="activity__relative">
                  <span class="activity__date"><%= l(Date.today , :format => "%d %b %Y") %></span>
                  <span class="activity__circle"></span>
                </div>
                <div class="activity__content">
                  <h3>Ajoutez des activités!</h3>
                  <p>
                    <%= link_to "Ajouter", new_group_happening_path(@group) %>.
                  </p>
                </div>
              </li>
            <% end %>
            <% if @group.happenings.count < 1 && user_signed_in? %>
              <li>
                <div class="activity__relative">
                  <span class="activity__date"><%= l(Date.today , :format => "%d %b %Y") %></span>
                  <span class="activity__circle"></span>
                </div>
                <div class="activity__content">
                  <h3>Pas d'activités</h3>
                  <% if user_signed_in? && current_user.id == @group.owner.id %>
                    <p>
                      <%= link_to "Créez", new_group_happening_path(@group) %> en une!
                    </p>
                  <% else %>
                    <p>Cet groupe n'a pas d'activités</p>
                  <% end %>
                </div>
              </li>
            <% else %>
              <% @group.happenings.each do |happening| %>
                <% if happening.date.to_date < Date.today %>
                  <li class="passed">
                <% else %>
                  <li>
                <% end %>
                  <div class="activity__relative">
                    <span class="activity__date"><%= l(happening.date , :format => "%d %b %Y") %></span>
                    <span class="activity__circle"></span>
                  </div>
                  <div class="activity__content">
                    <h3><%= link_to happening.event_type.name, happenings_path(params.slice(:sort).merge(event_type: happening.event_type.id)), :class => "type #{happening.event_type.name}" %><%= link_to happening.name, happening %>
                    <%= link_to happening_user_statuses_path(happening), :title => 'Afficher les utilisateurs qui participent cette évènement', :class => "timeline__part" do %>
                       <%= happening.user_statuses.count.to_s %> <span class="hidden">Participants</span><em class="icon-users"></em>
                    <% end %></h3>
                    <p>
                      <%= happening.description %>
                    </p>
                  </div>
                </li>
              <% end %>
            <% end %>
          </ul>
          
        </div>
        <div class="entity__relations">
          <h3 role="heading" aria-level="3">
              <% if @members.count <= 1 %>
                Membre
              <% else %>
                Membres
              <% end %>
               (<%= @members.count %>)
          </h3>
          <ul>
            <% @members.each do |grouper| %>
              <li class="entity__result">
                <ul class="result__list">
                  <li class="result__avatar"><%= image_tag grouper.user.avatar.url(:thumb) %></li>
                  <li>
                    <h4 role="heading" aria-level="4">
                      <%= link_to grouper.user.username, grouper.user %>
                      <% if user_signed_in? &&  @group.owner.id == current_user.id && grouper.user.id != current_user.id  %>
                        <%= form_for ([@group, grouper]), method: :delete do |f| %>
                          <%= button_tag do %>
                              <i class="icon-cancel"></i> Supprimer du groupe
                          <% end %>
                        <% end %>
                      <% end %>
                      <% if user_signed_in? && grouper.user.id == current_user.id && @group.owner.id != current_user.id  %>
                        <%= form_for ([@group, grouper]), method: :delete do |f| %>
                          <%= button_tag do %>
                              <i class="icon-cancel"></i> Quitter le groupe
                          <% end %>
                        <% end %>
                      <% end %>
                    </h4>
                  </li>
                </ul>
              </li>
            <% end %>
          </ul>
          <% if @waiting_users.count > 0 && user_signed_in? && @group.owner.id == current_user.id %>
            <h3 role="heading" aria-level="3">
              <%= @waiting_users.count %> 
              <% if @waiting_users.count <= 1 %>
                Utilisateur
              <% else %>
                Utilisateurs
              <% end %>
              en attente
            </h3>
            <ul>
              <% @waiting_users.each do |grouper| %>
                <li class="entity__result">
                  <ul class="result__list">
                    <li class="result__avatar"><%= image_tag grouper.user.avatar.url(:thumb) %></li>
                    <li>
                      <h4 role="heading" aria-level="4">
                        <%= link_to grouper.user.username, grouper.user %>
                        <%= form_for ([@group, grouper]), :html => {:class => 'button_to' } do |f| %>
                          <%= f.hidden_field :grouper_id, :value => grouper.id %>
                          <%= button_tag do %>
                              <i class="icon-check"></i> Accepter
                          <% end %>
                        <% end %>
                      </h4>
                    </li>
                  </ul>
                </li>
              <% end %>
            </ul>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>