<section>
  <div class="container index">
    <%= render "layouts/navigations/dashboardNavigation" %>
    <h2 role="heading" aria-level="2" class="hidden">Content</h2>
    <h2 role="heading" aria-level="2">Les courses à venir</h2>
      <ul class="content__events">
        <% @happenings.each do |happening| %>
          <li class="content__thumbRace">
            <ul class="thumbRace__list">
             <li class="thumbRace__date"><span class="thumbRace__day"><%= happening.date.strftime("%d") %></span> <span class="thumbRace__monthName"><%= l(happening.date , :format => "%b") %></span></li>
            <li class="thumbRace__name">
              <h4 role="heading" aria-level="4">
                <%= link_to happening.name, happening_path(happening) %>
                <% if user_signed_in? && happening.user == current_user %>
                | <%= link_to "Edit", edit_happening_path(happening) %>
                | <%= button_to "Delete", happening_path(happening), method: :delete, data: { confirm: 'Etes vous certain?' }  %>
                <% end %>
              </h4>
            </li>
              <li class="thumbRace__distances">
                <% happening.tracks.each do |track| %>
                  <%= track.length %> km
                <% end %>
              </li>
            </ul>
          </li>
        <% end %>
      </ul>
  </div>
</section>