<section>
	<div class="container">
		<h2 role="heading" aria-level="2" class="hidden">Content</h2>
    <div class="left_column">
        <h3 role="heading" aria-level="3">Profile de <%= @user.username %></h3>
        <% if user_signed_in? &&  current_user.id != @user.id %>
        <%= link_to 'Envoyer un message', new_user_conversation_path(@user) %>
				<% for group in current_user.groups_as_owner %>
					<% if !group.users.include?(@user) %>
					<p><%= group.name %></p>
					<%= form_for group , :html => { :class => 'button_to' } do |f| %>
				  	<%= f.hidden_field :user_id, :value => @user.id %>
				  	<%= f.submit %>
				  <% end %>
				  <% end %>
				<% end %>
			 	<p>adduser to team</p>
			<% end %>
    	<%= image_tag @user.avatar.url(:thumb) %>	
    	<p><%= @user.description %></p>
    	<ul>
    		<li>Localisation</li>
    		<li>Groupes :
					<ul>
						<% for group in @user.groups %>
							<li><%= link_to group.name, group_path(group) %></li>
						<% end %>
					</ul>
    		</li>
    		<li>Clubs :
					<ul>
						<% for group in @user.teams %>
							<li><%= link_to team.name, team_path(team) %></li>
						<% end %>
					</ul>
    		</li>

    	</ul>
    </div>
    <div class="primary_content">
    	<h2 role="heading" aria-level="2">Activitées (feed)</h2>
    	<ul class="events">
        <% @activities.each do |activity| %>
            <li class="thumbRace">
						<%= @user.username %>
            <%= render_activity activity %>
          </li>
        <% end %>
        </ul>
		</div>
	</div>
</section>
