<% content_for :title do %>
  Profil «<%= @user.username %>» | Sportfun
<% end %>
<section>
  <div class="container">
    <h2 role="heading" aria-level="2" class="hidden">Content</h2>
    <%= render "layouts/navigations/userNavigation" %>
    <div class="entity__title user">
      <%= image_tag @user.avatar.url(:thumb) %>
      <h2 role="heading" aria-level="2">
        <%= @user.username %>
      </h2>
      <p><%= @user.description %></p>
      <% if user_signed_in? &&  current_user.id == @user.id %>
        <%= link_to "Paramètres", edit_user_registration_path %>
      <% end %>
    </div>
    <div class="entity__data">
      <div class="entity__activity">
        <% if current_user.id == @user.id %>
          <h3 role="heading" aria-level="3">Vos activités</h3>
          <div class="user__actions">
            <%= link_to "Ajouter activité", new_happening_path %>
            <%= link_to "Chercher activité", happenings_path %>
          </div>
        <% else %>
          <h3 role="heading" aria-level="3">Activités</h3>
        <% end %>
        <ul>
          <% @happenings.each do |happening| %>
            <% if happening.date.to_date < Date.today %>
              <li class="passed">
            <% else %>
              <li>
            <% end %>
              <%= l(happening.date , :format => "%d %b %Y") %>
              <%= happening.name %>
            </li>
          <% end %>
        </ul>
        
      </div>
      <div class="entity__relations">
        <% if current_user.id == @user.id %>
          <h3 role="heading" aria-level="3">Vos groupes</h3>
          <div class="user__actions">
            <%= link_to "Ajouter groupe", new_group_path %>
            <%= link_to "Chercher groupe", groups_path %>
          </div>
        <% else %>
          <h3 role="heading" aria-level="3">Groupes</h3>
        <% end %>
        <ul>
          <% @user.groups.each do |group| %>
            <li class="entity__result">
              <ul class="result__list">
                <li class="result__avatar"><%= image_tag group.avatar.url(:thumb) %></li>
                <li>
                  <h4 role="heading" aria-level="4">
                    <%= link_to group.name, group %>
                  </h4>
                </li>
              </ul>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</section>
