<% content_for :title do %>
  Accueil | Sportfun
<% end %>
<% content_for :head do %>
  <div class="headingImg">
    <div class="container intro">
      <% if !user_signed_in? %>
        <div class="intro__presentation">
          <h2 role="heading" aria-level="2">Courir pour le fun</h2>
          <h3 role="heading" aria-level="3">Trouvez les meilleurs courses et tracés près de chez vous.</h3>
          <h3 role="heading" aria-level="3">Courrez en groupe, planifiez vos entrainements et gérez votre club.</h3>
          <%= link_to "Connexion avec Facebook", user_omniauth_authorize_path(:facebook), :class => "fb__button signin" %>
        </div>
        <div class="intro__singup">
          <h2>Inscription</h2>
          <%= form_for(@user, :as => @user, :url => registration_path(@user)) do |f| %>
            <%= f.label :username %>
            <%= f.text_field :username, :placeholder => 'pseudo' %>

            <%= f.label :email %>
            <%= f.email_field :email, :placeholder => 'email' %>

            <%= f.label :password %>
            <%= f.password_field :password, :placeholder => 'mot de passe' %>

            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation, :placeholder => 'mot de passe confirmation' %>

            <%= f.submit "Inscription" %>
          <% end %>
        </div>
      <% else %>
        <div class="intro__presentation">
          <h2 role="heading" aria-level="2">Salut <%= current_user.username %>!</h2>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<section>
  <div class="container showcase">
    <h2 role="heading" aria-level="2" class="hidden">Presentation</h2>
    <div class="presenter">
      <div class="presenter__icon">
        <i class="icon-trophy"></i>
      </div>
      <h3 role="heading" aria-level="3">Courses</h3>
      <p>Trouvez toutes les courses à proximité de chez vous. Ou ajouter vos évènements.</p>
    </div>
    <div class="presenter">
      <div class="presenter__icon">
        <i class="icon-chart-line"></i>
      </div>
      <h3 role="heading" aria-level="3">Entrainements</h3>
      <p>On sait tous que s'entrainer seul est parfois pénible, <%= link_to "rechercher ici", happenings_path %> pour en trouver à proximité.</p>
    </div>
    <div class="presenter">
      <div class="presenter__icon">
        <i class="icon-map"></i>
      </div>
      <h3 role="heading" aria-level="3">Tracés d'entrainements</h3>
      <p>Parfois vous avez envie de changer d'entrainement mais vous ne savez pas ou aller, <%= link_to "rechercher ici", tracks_path %>.</p>
    </div>
    <div class="presenter">
      <div class="presenter__icon">
        <i class="icon-users"></i>
      </div>
      <h3 role="heading" aria-level="3">Communauté</h3>
      <p>les utilisateurs sont la pour s'entraider, consulter <%= link_to "les forums", forums_path %> pour trouver des informations.</p>
    </div>
  </div>
</section>
<section>
  <div class="container table">
    <div class="entity__data">
      <div class="news">
        <h2 role="heading" aria-level="2">Les dernièrs évènements</h2>
        <% if @happenings.count > 0 %>
          <ul class="entity__results">
            <% @happenings.each do |happening| %>
              <li class="entity__result">
                <ul class="result__list">
                 <li class="result__date"><span class="result__day"><%= happening.date.strftime("%d") %></span> <span class="result__monthName"><%= l(happening.date , :format => "%b") %></span></li>
                <li class="result__name">
                  <h4 role="heading" aria-level="4">
                    <%= link_to happening.event_type.name, happenings_path(params.slice(:sort).merge(event_type: happening.event_type.id)), :class => "type #{happening.event_type.name}" %>
                    <%= link_to happening.name, happening_path(happening) %>
                  </h4>
                </li>
                  <li class="result__distances">
                    <% happening.tracks.each do |track| %>
                      <%= track.length %> km
                    <% end %>
                  </li>
                </ul>
              </li>
            <% end %>
          </ul>
        <% else %>
          <p class="results__none">Pas de nouveaux évènements.</p>
        <% end %>
      </div>
      <div class="news">
        <h2 role="heading" aria-level="2">Les dernièrs tracés</h2>
          <% if @tracks.count > 0 %>
            <ul class="entity__results">
              <% @tracks.each do |track| %>
                <li class="entity__result" id="<%= track.slug %>">
                  <ul class="result__list">
                    <li class="result__date"><span class="result__day"><%= track.length %></span> <span class="result__monthName"> km</span></li>
                    <li class="result__name">
                      <h4 role="heading" aria-level="4">
                        <%= link_to track.name, track_path(track) %>
                        <% if user_signed_in? && track.user == current_user %>
                        | <%= button_to "Supprimer", track_path(track), method: :delete, data: { confirm: 'Are you sure?' }  %>
                        <% end %>
                      </h4>
                    </li>
                    <% if track.happening %>
                      <li class="result__happening"><%= link_to track.happening.name, track.happening %></li>
                    <% end %>
                  </ul>
                </li>
              <% end %>
            </ul>
          <% else %>
            <p class="results__none">Pas de nouveaux tracés.</p>
          <% end %>
      </div>
    </div>
    <div class="entity__data">
      <div class="news">
        <h2 role="heading" aria-level="2">Les dernièrs groupes</h2>
        <% if @groups.count > 0 %>
          <ul class="entity__results">
            <% @groups.each do |group| %>
              <li class="entity__result">
                <ul class="result__list">
                <li class="result__name">
                  <h4 role="heading" aria-level="4">
                    <%= link_to group.name, group_path(group) %>
                  </h4>
                </li>
                  <li class="result__distances">
                    <%= group.users.count %>
                  </li>
                </ul>
              </li>
            <% end %>
          </ul>
        <% else %>
          <p class="results__none">Pas de nouveaux groupes.</p>
        <% end %>
      </div>
      <div class="news">
        <h2 role="heading" aria-level="2">Les dernièrs forums</h2>
          <% if @forums.count > 0 %>
            <ul class="entity__results">
              <% @forums.each do |forum| %>
                <li class="entity__result">
                  <ul class="result__list">
                    <li class="result__date"><span class="result__day"><%= forum.created_at.strftime("%d") %></span> <span class="result__monthName"><%= l(forum.created_at , :format => "%b") %></span></li>
                    <li class="result__name">
                      <h4 role="heading" aria-level="4">
                        <%= link_to forum.name, forum_path(forum) %>
                      </h4>
                    </li>
                  </ul>
                </li>
              <% end %>
            </ul>
          <% else %>
            <p class="results__none">Pas de nouveaux forums.</p>
          <% end %>
      </div>
    </div>
  </div>
</section>