<% content_for :head do %>
  <div class="headingImg">
    <div class="container intro">
      <div class="intro__presentation">
        <h2 role="heading" aria-level="2">Courir pour le fun</h2>
        <h3>Trouvez les meilleurs courses et tracés près de chez vous.</h3>
        <h3>Courrez en groupe, planifiez vos entrainements et gérez votre club.</h3>
      </div>
      <div class="intro__singup">
        <h2>Inscription</h2>
        <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
        <%= form_for(@user, :as => @user, :url => registration_path(@user)) do |f| %>
          <%= f.label :username %>
          <%= f.text_field :username, :placeholder => 'pseudo' %>

          <%= f.label :email %>
          <%= f.email_field :email, :placeholder => 'email' %>

          <%= f.label :password %>
          <%= f.password_field :password, :placeholder => 'mot de passe' %>

          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, :placeholder => 'mot de passe confirmation' %>

          <%= f.submit "Inscription" %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<section>
  <div class="container">
    <h2 role="heading" aria-level="2" class="hidden">Presentation</h2>
    <div class="presenter">
      <div class="presenter__icon">
        <i class="icon-trophy"></i>
      </div>
      <h3 role="heading" aria-level="3">Courses</h3>
      <p>Trouvez toutes les courses à proximité de chez vous. Ou ajouter vos évènements.</p>
    </div>
    <div class="presenter">
      <div class="presenter__icon">
        <i class="icon-chart-line"></i>
      </div>
      <h3 role="heading" aria-level="3">Entrainements</h3>
      <p>On sait tous que s'entrainer seul est parfois pénible, <%= link_to "rechercher ici", happenings_path %> pour en trouver à proximité.</p>
    </div>
    <div class="presenter">
      <div class="presenter__icon">
        <i class="icon-map"></i>
      </div>
      <h3 role="heading" aria-level="3">Tracés d'entrainements</h3>
      <p>Parfois vous avez envie de changer d'entrainement mais vous ne savez pas ou aller, <%= link_to "rechercher ici", tracks_path %>.</p>
    </div>
    <div class="presenter">
      <div class="presenter__icon">
        <i class="icon-users"></i>
      </div>
      <h3 role="heading" aria-level="3">Communauté</h3>
      <p>les utilisateurs sont la pour s'entraider, consulter <%= link_to "les forums", forums_path %> pour trouver des informations.</p>
    </div>
  </div>
</section>
<section>
  <div class="container index">
    <h2 role="heading" aria-level="2" class="hidden">Content</h2>
    <h2 role="heading" aria-level="2">Les courses à venir</h2>
      <ul class="content__events">
        <% @happenings.each do |happening| %>
          <li class="entity__result">
            <ul class="result__list">
             <li class="result__date"><span class="result__day"><%= happening.date.strftime("%d") %></span> <span class="result__monthName"><%= l(happening.date , :format => "%b") %></span></li>
            <li class="result__name">
              <h4 role="heading" aria-level="4">
                <%= link_to happening.name, happening_path(happening) %>
                <% if user_signed_in? && happening.user.id == current_user.id %>
                | <%= link_to "Edit", edit_happening_path(happening) %>
                | <%= button_to "Delete", happening_path(happening), method: :delete, data: { confirm: 'Etes vous certain?' }  %>
                <% end %>
              </h4>
            </li>
              <li class="result__distances">
                <% happening.tracks.each do |track| %>
                  <%= track.length %> km
                <% end %>
              </li>
            </ul>
          </li>
        <% end %>
      </ul>
  </div>
</section>