<% content_for :head do %>
  <div class="headingImg">
    <div class="container intro">
      <div class="intro__presentation">
        <h2 role="heading" aria-level="2">Courir pour le fun</h2>
        <h3>Trouvez les meilleurs courses et tracés près de chez vous.</h3>
        <h3>Courrez en groupe, planifiez vos entrainements et gérez votre club.</h3>
      </div>
      <div class="intro__singup">
        <h2>Inscription</h2>
        <%= form_for(@user, :as => @user, :url => registration_path(@user)) do |f| %>
          <%= f.text_field :username, :placeholder => 'username' %></li>

          <%= f.email_field :email, :placeholder => 'email' %>

          <%= f.password_field :password, :placeholder => 'password' %>

          <%= f.password_field :password_confirmation, :placeholder => 'password confirmation' %>

          <%= f.submit "Inscription" %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<section>
  <div class="container">
    <h2 role="heading" aria-level="2" class="hidden">Presentation</h2>
    <div class="presenter">
      <div class="presenter__icon">
        <i class="icon-trophy"></i>
      </div>
      <h3 role="heading" aria-level="3">Courses</h3>
      <p>Trouvez toutes les courses à proximité de chez vous. Ou ajouter vos évènements.</p>
    </div>
    <div class="presenter">
      <div class="presenter__icon">
        <i class="icon-chart-line"></i>
      </div>
      <h3 role="heading" aria-level="3">Entrainements</h3>
      <p>On sait tous que s'entrainer seul est parfois pénible, rechercher ici pour en trouver à proximité.</p>
    </div>
    <div class="presenter">
      <div class="presenter__icon">
        <i class="icon-map"></i>
      </div>
      <h3 role="heading" aria-level="3">Tracés d'entrainements</h3>
      <p>Parfois vous avez envie de changer d'entrainement mais vous ne savez pas ou aller, rechercher ici.</p>
    </div>
    <div class="presenter">
      <div class="presenter__icon">
        <i class="icon-users"></i>
      </div>
      <h3 role="heading" aria-level="3">Communauté</h3>
      <p>les utilisateurs sont la pour s'entraider, consulter les forums pour trouver des informations.</p>
    </div>
  </div>
</section>
<section>
  <div class="container index">
    <h2 role="heading" aria-level="2" class="hidden">Content</h2>
    <h2 role="heading" aria-level="2">Les courses à venir</h2>
      <ul class="content__events">
        <% for happening in @happenings %>
          <li class="content__thumbRace">
            <ul class="thumbRace__list">
             <li class="thumbRace__date"><span class="thumbRace__day"><%= happening.date.strftime("%d") %></span> <span class="thumbRace__monthName"><%= happening.date.strftime("%b") %></span></li>
            <li class="thumbRace__location">Liège</li>
            <li class="thumbRace__name">
              <h4 role="heading" aria-level="4">
                <%= link_to happening.name, happening_path(happening) %>
                <% if user_signed_in? && happening.user_id == current_user.id %>
                | <%= link_to "Edit", edit_happening_path(happening) %>
                | <%= button_to "Delete", happening_path(happening),
                            method: :delete, data: { confirm: 'Are you sure?' }  %>
                <% end %>
              </h4>
            </li>
              <li class="thumbRace__distances">
                <% for track in happening.tracks %>
                  <%= track.distance %> km
                <% end %>
              </li>
            </ul>
          </li>
        <% end %>
      </ul>
  </div>
</section>