
<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Site sur la course à pied">
  <title>Pfe</title>
  <!-- <link rel="stylesheet" href="/assets/fontello.css?body=1 "> -->
  <!-- <link rel="stylesheet" href="/assets/animation.css?body=1 "> -->
  <!--[if IE 7]>
    <link rel="stylesheet" href="/assets/fontello-ie7.css?body=1 ">
  <![endif]-->
  <!-- <link rel="stylesheet" href="/assets/screen.css?body=1 "> -->
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="/assets/html5shiv.min.js?body=1"></script>
    <script src="/assets/hespond.min.js?body=1 "></script>
  <![endif]-->
  <%= stylesheet_link_tag "fontello", media: "all" %>
  <%= stylesheet_link_tag "animation", media: "all" %>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="wrapper">
    <header class="header">
      <div class="header__navbar">
        <div class="container">
          <div class="header__logo">
            <a href="/" title="Sportfun accueil">
              <h1 role="heading" aria-level="1">SportFun</h1>
            </a>
          </div>
          <%= render "layouts/headerNavigation" %>
          <div class="header__menu"><a class="" href="#nav"><i class="icon-menu"></i></a></div>
          <div class="header__search">
            <form action="#" class="search">
              <input type="text" name="searchField" id="search__input" placeholder="rechercher..."><!-- 
              --><button class="search__button"><i class="icon-search"></i></button>
            </form>
          </div>
        </div>
      </div>
      <br>
      <%= yield :head %>
    </header>
    <div class="container">
      <p id="notice"><%= notice %></p>
      <p id="alert"><%= alert %></p>
    </div>
    <div class="<%= controller_name %> <%= action_name %>">
      <%= yield %>
    </div>
    <div class="container">
      <%= render "layouts/footerNavigation" %>
    </div>
  </div>
  <footer role="footer">
    <div class="container">
      <p>© Jérémy Thiry 2014</p>
    </div>
  </footer>
  <%= yield :script %>
  <%= javascript_include_tag "application" %>
</body>
</html>
