<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Site sur la course à pied">
  <title>Pfe</title>
  <!-- <link rel="stylesheet" href="/assets/fontello.css?body=1 "> -->
  <!-- <link rel="stylesheet" href="/assets/animation.css?body=1 "> -->
  <!--[if IE 7]>
    <link rel="stylesheet" href="/assets/fontello-ie7.css?body=1 ">
  <![endif]-->
  <!-- <link rel="stylesheet" href="/assets/screen.css?body=1 "> -->
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="/assets/html5shiv.min.js?body=1"></script>
    <script src="/assets/hespond.min.js?body=1 "></script>
  <![endif]-->
  <%= stylesheet_link_tag "fontello", media: "all" %>
  <%= stylesheet_link_tag "animation", media: "all" %>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="wrapper">
    <header class="header">
      <div class="header__navbar">
        <div class="container">
          <div class="header__logo">
            <a href="/" title="Etude et vie accueil">
              <%= image_tag "logo.png" %>
              <h1 role="heading" aria-level="1">SportFun</h1>
            </a>
          </div>
          <nav role="navigation">
            <ul><!-- 
              --><li>
                <span><%= link_to "Evenements", happenings_path %></span>
              </li><!-- 
              --><li>
                <span><%= link_to "Tracés", tracks_path %></span>
              </li><!-- 
              --><li>
                <span><%= link_to "Forums", forums_path %></span>
              </li><!-- 
              --><li>
               <span class="actions">
                <i class="icon-users"></i>
                <ul>
                  <li><%= link_to "Groups", groups_path %></li>
                  <li><%= link_to "Clubs", teams_path %></li>
                  <li><%= link_to "Utilisateurs", users_path %></li>
                </ul>
               </span>
              </li><!--
              --><% if user_signed_in? %><!--
               --><li>
               <span class="actions">
                <i class="icon-plus"></i>
                <ul>
                  <li><%= link_to "Créer evenement", new_happening_path %></li>
                  <li><%= link_to "Créer groupe", new_group_path %></li>
                  <li><%= link_to "Créer club", new_team_path %></li>
                  <li><%= link_to "Créer forum", new_forum_path %></li>
                  <li><%= link_to "Créer tracé", new_track_path %></li>
                </ul>
               </span>
              </li><!--
                 --><li>
                  <span class="tooltip" data-tooltip="<%= current_user.username %>">
                    <%= link_to user_path(current_user) do %>
                      <i class="icon-user"></i>
                    <% end %>
                  </span>
                </li><!-- 
                --><li>
                  <span class="tooltip" data-tooltip="Messages">
                    <%= link_to conversations_path do %>
                      <i class="icon-chat"></i>
                    <% end %>
                  </span>
                </li><!-- 
                --><li>
                  <span class="tooltip" data-tooltip="Modifier profil">
                    <%= link_to edit_user_registration_path do %>
                      <i class="icon-tools"></i>
                    <% end %>
                  </span>
                </li><!--
                 --><li>
                  <span class="tooltip" data-tooltip="Déconnexion">
                    <%= button_to destroy_user_session_path, :method => :delete do %>
                      <i class="icon-logout"></i>
                    <% end %>
                  </span>
                </li><!--
              --><% else %><!-- 
                 --><li>
                  <span class="tooltip"  data-tooltip="Connexion">
                    <%= link_to new_user_session_path do %>
                      <i class="icon-login"></i>
                    <% end %>
                  </span>
                </li><!--
              --><% end %><!-- 
             --></ul>     
          </nav>
          <div class="searchForm">
            <form action="#" class="search">
              <input type="text" name="searchField" id="searchField" placeholder="rechercher..."><!-- 
              --><button class="buttonSearch"><i class="icon-search"></i></button>
            </form>
          </div>
        </div>
      </div>
      <br>
      <%= yield :head %>
    </header>
    <div class="container">
      <p id="notice"><%= notice %></p>
      <p id="alert"><%= alert %></p>
    </div>
    <div class="<%= controller_name %> <%= action_name %>">
      <%= yield %>
    </div>
  </div>
  <footer role="footer">
    <div class="container">
      <p>© Jérémy Thiry 2014</p>
    </div>
  </footer>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <%= yield :script %>
  <%= javascript_include_tag "application" %>
</body>
</html>
